<!-- Loading Overlay -->
<!-- <div *ngIf="isLoading" class="component-loader-overlay">
  <div class="spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
    <p class="loading-text">Loading dashboard data...</p>
  </div>
</div> -->

<div class="dashboard-container">
  <!-- Header -->
  <header class="content-header">
    <div class="header-left">
      <!-- <button mat-icon-button class="back-btn" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button> -->
      <h1 class="page-title">{{ headerTitile }}</h1>
    </div>

    <!-- <button mat-button class="back-btn" (click)="goFor()">
      Test
    </button> -->
  </header>

  <!-- Filters Section -->
  <div class="filters-section">
    <mat-card class="filters-card" style="padding: 10px">
      <div class="filters-row">
        <mat-form-field appearance="outline">
          <mat-label>Year</mat-label>
          <mat-select [(value)]="selectedYear" (selectionChange)="onFilterChange()">
            <mat-option
              *ngFor="let year of years"
              [value]="year"
              [disabled]="year > currentYear"
            >
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        

        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Month</mat-label>
          <mat-select [(value)]="selectedMonth" (selectionChange)="onFilterChange()">
            <mat-option *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" [value]="month.toString()"
              [disabled]="selectedYear == currentYear && month > currentMonth">
              {{ monthNames[month - 1] }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>District</mat-label>
          <mat-select [(value)]="selectedDistrict" (selectionChange)="onDistrictChange($event)">
            <!-- <mat-option value="" >All District</mat-option> -->
            <mat-option *ngFor="let district of districtData" [value]="district.district_id">
              {{ district.district_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Block</mat-label>
          <mat-select [(value)]="selectedBlock" (selectionChange)="onBlockChange()">
            <!-- <mat-option value="" >All Block</mat-option> -->
            <mat-option *ngFor="let block of blockData" [value]="block.block_id">
              {{ block.block_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Sector</mat-label>
          <mat-select [(value)]="selectedSector" (selectionChange)="onFilterChange()">
            <mat-option *ngFor="let sector of sectorData" [value]="sector.sector_id">
              {{ sector.sector_name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <!-- your existing filter fields here -->

        <!-- Clear Filters Button -->
        <button mat-stroked-button class="clear-button" color="warn" (click)="clearFilters()" *ngIf="selectedDistrict">
          Clear Filters
        </button>
      </div>
    </mat-card>
  </div>

  <div style="
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: 12px;
    margin-top: 0px;
  ">
    <!-- Supervisor -->
    <div style="
    flex: 1;
    min-width: 200px;
    border-radius: 15px;
    padding: 20px 10px;
    background-color: rgb(142, 231, 185);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
  ">
      <ng-container *ngIf="isLoadingForSupervisorObservationCompletion; else dataView">
        <mat-spinner diameter="40"></mat-spinner>
        <p style="font-size: 0.9rem; font-weight: 500;">Loading...</p>
      </ng-container>

      <ng-template #dataView>
        <p style="font-size: 2.5rem; font-weight: 700; margin: 0;">
          {{ supervisorObservationCompletionData | number:'1.0-0' }}%
        </p>

        <p style="font-size: 1rem; font-weight: 600;">
          Supervisor observations completed this month
        </p>
      </ng-template>
    </div>


    <!-- CDPO -->
    <div style="
    flex: 1;
    min-width: 200px;
    border-radius: 15px;
    padding: 20px 10px;
    background-color: rgb(233, 149, 149);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
  ">
      <!-- Loader -->
      <ng-container *ngIf="isLoadingForCDPOObservationCompletion; else cdpoDatas">
        <mat-spinner diameter="40"></mat-spinner>
        <p style="font-size: 0.9rem; font-weight: 500;">Loading...</p>
      </ng-container>

      <!-- Data -->
      <ng-template #cdpoDatas>
        <p style="font-size: 2.5rem; font-weight: 700; margin: 0;">
          {{ cdpoObservationCompletionData | number:'1.0-0' }}%
        </p>

        <p style="font-size: 1rem; font-weight: 600; margin-top: 8px;">
          CDPO observations completed this quarter
        </p>
      </ng-template>
    </div>


    <!-- CDPO -->
    <div style="
    flex: 1;
    min-width: 200px;
    border-radius: 15px;
    padding: 20px 10px;
    background-color: #cfe3ff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
  ">
      <!-- Loader -->
      <ng-container *ngIf="isLoadingSectorsObservedByDpo; else cdpoData">
        <mat-spinner diameter="40"></mat-spinner>
        <p style="font-size: 0.9rem; font-weight: 500;">Loading...</p>
      </ng-container>

      <!-- Data -->
      <ng-template #cdpoData>
        <p style="font-size: 2.5rem; font-weight: 700; margin: 0;">
          {{ sectorsObservedByDpoData?.sector_visit_percentage | number:'1.0-0' }}%
        </p>

        <p style="font-size: 1rem; font-weight: 600; margin-top: 8px;">
          Sectors observed by DPO this quarter
        </p>
      </ng-template>
    </div>




    <!-- DPO -->
    <!-- <div style="
      flex: 1;
      min-width: 200px;
      border-radius: 15px;
      padding: 20px 10px;
      background-color: rgb(139, 187, 217);
      display: flex;
      flex-direction: column;
            gap: 8px;
      align-items: center;
      justify-content: center;
      text-align: center;
    ">
      <p style="font-size: 2.5rem; font-weight: 700; margin: 0;">12</p>
      <p style="font-size: 1rem; font-weight: 600; margin-top: 8px;">
        Sectors observed by DPO this quarter
      </p>
    </div> -->
  </div>

  <div style="
      display: flex;
      justify-content: space-around;
      gap: 16px;
      padding: 12px;
      margin-top: 0px;
    ">
    <!-- Supervisor -->
    <div style="
    flex: 1;
    min-width: 200px;
    border-radius: 15px;
    padding: 20px 10px;
    background-color: rgb(142, 231, 185);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  ">
      <!-- Loader -->
      <ng-container *ngIf="isLoadingForSupervisorActive; else dataTpl">
        <mat-spinner diameter="40"></mat-spinner>
        <p style="font-size: 0.9rem; font-weight: 500;">Loading...</p>
      </ng-container>

      <!-- Data -->
      <ng-template #dataTpl>
        <p style="font-size: 2.5rem; font-weight: 700; margin: 0;">
          {{ supervisorActiveData?.presentMonthActiveRate | number:'1.0-0' }}%
        </p>

        <p style="font-size: 1rem; font-weight: 600; margin-top: 8px;">
          Supervisor active this month
        </p>

        <!-- Up triangle -->
        <div *ngIf="
        supervisorActiveData?.presentMonthActiveRate >
        supervisorActiveData?.lastMonthActiveRate
      " style="
        position: absolute;
        right: 12px;
        top: 12px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 14px solid green;
      "></div>

        <!-- Down triangle -->
        <div *ngIf="
        supervisorActiveData?.presentMonthActiveRate <
        supervisorActiveData?.lastMonthActiveRate
      " style="
        position: absolute;
        right: 12px;
        top: 12px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 14px solid red;
      "></div>
      </ng-template>
    </div>



    <!-- CDPO -->
    <div style="
    flex: 1;
    min-width: 200px;
    border-radius: 15px;
    padding: 20px 10px;
    background-color: rgb(233, 149, 149);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  ">
      <!-- Loader -->
      <ng-container *ngIf="isLoadingForCDPOActive; else cdpoActiveTpl">
        <mat-spinner diameter="40"></mat-spinner>
        <p style="font-size: 0.9rem; font-weight: 500;">Loading...</p>
      </ng-container>

      <!-- Data -->
      <ng-template #cdpoActiveTpl>
        <p style="font-size: 2.5rem; font-weight: 700; margin: 0;">
          {{ cdpoActiveData?.presentMonthActiveRate | number:'1.0-0' }}%
        </p>

        <p style="font-size: 1rem; font-weight: 600; margin-top: 8px;">
          CDPO active this month
        </p>

        <!-- Up triangle -->
        <div *ngIf="
        cdpoActiveData?.presentMonthActiveRate >
        cdpoActiveData?.lastMonthActiveRate
      " style="
        position: absolute;
        right: 12px;
        top: 12px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 14px solid green;
      "></div>

        <!-- Down triangle -->
        <div *ngIf="
        cdpoActiveData?.presentMonthActiveRate <
        cdpoActiveData?.lastMonthActiveRate
      " style="
        position: absolute;
        right: 12px;
        top: 12px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 14px solid red;
      "></div>
      </ng-template>
    </div>


    <!-- DPO -->
    <!-- DPO -->
    <div style="
    flex: 1;
    min-width: 200px;
    border-radius: 15px;
    padding: 20px 10px;
    background-color: #cfe3ff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  ">
      <!-- Loader -->
      <ng-container *ngIf="isLoadingForDPOActive; else dpoActiveTpl">
        <mat-spinner diameter="40"></mat-spinner>
        <p style="font-size: 0.9rem; font-weight: 500;">Loading...</p>
      </ng-container>

      <!-- Data -->
      <ng-template #dpoActiveTpl>
        <p style="font-size: 2.5rem; font-weight: 700; margin: 0;">
          {{ dpoActiveData?.presentMonthActiveRate | number:'1.0-0' }}%
        </p>

        <p style="font-size: 1rem; font-weight: 600; margin-top: 8px;">
          DPO active this month
        </p>

        <!-- Up triangle -->
        <div *ngIf="
        dpoActiveData?.presentMonthActiveRate >
        dpoActiveData?.lastMonthActiveRate
      " style="
        position: absolute;
        right: 12px;
        top: 12px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 14px solid green;
      "></div>

        <!-- Down triangle -->
        <div *ngIf="
        dpoActiveData?.presentMonthActiveRate <
        dpoActiveData?.lastMonthActiveRate
      " style="
        position: absolute;
        right: 12px;
        top: 12px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 14px solid red;
      "></div>
      </ng-template>
    </div>

  </div>


  <!-- graph -->


  <div class="chart-container">

    <!-- Supervisor -->
    <div class="card supervisor">
      <h3>Supervisor completion trends</h3>
      <canvas baseChart [data]="supervisorChartData" [type]="chartType" [options]="chartOptions">
      </canvas>
    </div>

    <!-- CDPO -->
    <div class="card cdpo">
      <h3>CDPO completion trends</h3>
      <canvas baseChart [data]="cdpoChartData" [type]="chartType" [options]="chartOptions">
      </canvas>
    </div>

    <!-- DPO -->
    <div class="card dpo">
      <h3>DPO completion trends</h3>
      <canvas baseChart [data]="dpoChartData" [type]="chartType" [options]="chartOptions">
      </canvas>
    </div>

  </div>
  ['SUPERVISOR','CDPO','DPO'

  <div class="role-toggle">
    <button *ngFor="let role of ['SUPERVISOR','CDPO','DPO']" (click)="onToggleChangeUserChange(role)"
      [class.active]="selectedRole === role">
      {{ role === 'SUPERVISOR' ? 'Block Supervisor' : role }}
    </button>
  </div>

  <app-dynamic-table-chart [loading]="isLoading" [headerConfig]="headerConfig" [tableConfig]="tableConfig"
    [tableData]="tableData" [chartConfig]="chartConfig" (rowClick)="onRowClick($event)">
  </app-dynamic-table-chart>






</div>