<div class="dashboard-container">
  <!-- Header -->
  <header class="content-header">
    <div class="header-left">
      <!-- <button mat-icon-button class="back-btn" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button> -->
      <h1 class="page-title">{{ headerTitile }}</h1>
    </div>

    <!-- <button mat-button class="back-btn" (click)="goFor()">
      Test
    </button> -->
  </header>

  <!-- Filters Section -->
  <div class="filters-section">
    <mat-card class="filters-card" style="padding: 10px;">
      <div class="filters-row">
        <mat-form-field appearance="outline">
          <mat-label>Year</mat-label>
          <mat-select [(value)]="selectedYear" (selectionChange)="onFilterChange()">
            <mat-option *ngFor="let year of years" [value]="year" [disabled]="year > currentYear">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Month</mat-label>
          <mat-select [(value)]="selectedMonth" (selectionChange)="onFilterChange()">
              <mat-option 
                    *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" 
                    [value]="month.toString()"
                    [disabled]="
                      (selectedYear == currentYear && month > currentMonth) || 
                      (selectedYear == 2025 && month < 6)
                    ">
                    {{ monthNames[month - 1] }}
                  </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>District</mat-label>
          <mat-select [(value)]="selectedDistrict" (selectionChange)="onDistrictChange($event)">
            <!-- <mat-option value="" >All District</mat-option> -->
            <mat-option *ngFor="let district of districtData" [value]="district.district_id">
              {{ district.district_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Block</mat-label>
          <mat-select [(value)]="selectedBlock" (selectionChange)="onBlockChange()">
            <!-- <mat-option value="" >All Block</mat-option> -->
            <mat-option *ngFor="let block of blockData" [value]="block.block_id">
              {{ block.block_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-field">
          <mat-label>Deviation Category</mat-label>
          <mat-select [(value)]="selectedDeviationCategory" (selectionChange)="onDeviationChange()">
            <!-- <mat-option value="" >All Block</mat-option> -->
            <mat-option value="height">Height</mat-option>
            <mat-option value="weight">Weight</mat-option>
            <mat-option value="both">Both Height & Weight</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Official Cadre</mat-label>
          <mat-select [(value)]="selectedUser" (selectionChange)="onUserChange($event)">
            <mat-option *ngFor="let user of users" [value]="user">
              {{ user }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Clear Filters Button -->
        <button mat-stroked-button class="clear-button" color="warn" (click)="clearFilters()" *ngIf="selectedDistrict">
          Clear Filters
        </button>
      </div>
    </mat-card>
  </div>

  <!-- Key Metrics Cards -->
  <div class="metrics-row">
    <div
      style="padding: 15px; display: flex; align-items: center; justify-content: space-between; flex-direction: column; background: rgb(233, 226, 226); border-radius: 10px;">

      <p style="font-size: medium; font-weight: 400;">By Observation</p>

      <!-- Loader -->
      <div *ngIf="isLoadingObservation" class="card-loader">
        <mat-spinner diameter="40"></mat-spinner>
        <p class="loading-text">Loading...</p>
      </div>

      <!-- Content -->
      <div *ngIf="!isLoadingObservation" style="display: flex; flex-direction: row; gap: 10px; height: 100%;">

        <!-- Card 1 -->
        <mat-card
          style="display:flex; align-items:center; justify-content:center; flex-direction:column; border-radius:7%; background:lightblue; padding:12px; gap:10px; margin-bottom:0px;">
          <div class="status-number" style="font-weight:600; font-size:larger;">
            {{ stateLevelData?.[0]?.[2]?.count_non_zero_diff || 0 }} / {{ stateLevelData?.[0]?.[2]?.total_count || 0 }}
          </div>
          <div class="status-label" style="font-weight:400; font-size:medium; text-align:center;">
            {{ labelChanges.stateChildDeviation || "-" }}
          </div>
        </mat-card>

        <!-- Card 2 -->
        <mat-card
          style="display:flex; align-items:center; justify-content:center; flex-direction:column; border-radius:7%; background:lightblue; padding:12px; gap:10px; margin-bottom:0px;">
          <div class="status-number" style="font-weight:600; font-size:larger;">
            {{ stateLevelData?.[0]?.[2]?.percent_non_zero_diff | number:'1.0-2' }}%
          </div>
          <div class="status-label" style="font-weight:400; font-size:medium; text-align:center;">
            {{ labelChanges.statePercentageChildDeviation || "-" }}
          </div>
        </mat-card>

      </div>
    </div>

    <div
      style="padding: 15px; display: flex; align-items: center; justify-content: space-between; flex-direction: column; background: rgb(233, 226, 226); border-radius: 10px;">

      <p style="font-size: medium; font-weight: 400;">By Anganwadi</p>

      <!-- Loader -->
      <div *ngIf="isLoadingAwc" class="card-loader">
        <mat-spinner diameter="40"></mat-spinner>
        <p class="loading-text">Loading...</p>
      </div>

      <!-- Content -->
      <mat-card *ngIf="!isLoadingAwc"
        style="display:flex; align-items:center; justify-content:center; flex-direction:column; border-radius:5%; background:lightblue; padding:12px; gap:10px; margin-bottom:0px; height:100%; width:-webkit-fill-available;">

        <div class="status-number" style="font-weight:600; font-size:larger;">
          {{ byAwc?.percent_non_zero_diff | number:'1.0-2' }}%
        </div>

        <div class="status-label" style="font-weight:400; font-size:medium; text-align:center;">
          {{ labelChanges.stateByAwcDeviationThisMonth || "-" }}
        </div>

      </mat-card>
    </div>


    <div
      style="padding: 15px; display: flex; align-items: center; flex-direction: column; background: rgb(233, 226, 226); border-radius: 10px;">

      <p style="font-size: medium; font-weight: 400;">By Supervisor</p>

      <!-- Loader -->
      <div *ngIf="isLoadingSupervisor" class="card-loader">
        <mat-spinner diameter="40"></mat-spinner>
        <p class="loading-text">Loading...</p>
      </div>

      <!-- Content -->
      <div *ngIf="!isLoadingSupervisor" style="display: flex; flex-direction: row; gap: 10px; height: 100%;">

        <mat-card
          style="display:flex; align-items:center; justify-content:center; flex-direction:column; border-radius:7%; background:lightblue; padding:12px; gap:10px; margin-bottom:0px;">
          <div class="status-number" style="font-weight:600; font-size:larger;">
            {{ bySupervisor?.deviation }}%
          </div>
          <div class="status-label" style="font-weight:400; font-size:medium; text-align:center;">
            {{ labelChanges.stateBySupervisorNoDeviationThisMonth || "-" }}
          </div>
        </mat-card>

        <mat-card
          style="display:flex; align-items:center; justify-content:center; flex-direction:column; border-radius:7%; background:lightblue; padding:12px; gap:10px; margin-bottom:0px;">
          <div class="status-number" style="font-weight:600; font-size:larger;">
            {{ bySupervisorTrend?.deviation }}%
          </div>
          <div class="status-label" style="font-weight:400; font-size:medium; text-align:center;">
            {{ labelChanges.stateBySupervisor100DeviationThisMonth || "-" }}
          </div>
        </mat-card>

      </div>
    </div>




  </div>

  <div style="max-width: 800px; margin: auto"></div>

  <!-- Charts Section -->
  <div class="charts-section">
    <div style="display: grid; grid-template-columns: repeat(2, 1fr);gap: 16px; margin-bottom: 30px;">

      <mat-card class="chart-card">
        <mat-card-header
          style="min-height: 40px; width: 100%; display: flex; align-items: center; justify-content: center;">
          <mat-card-title>{{
            labelChanges.stateAWCDeviationTrendsChart || "-"
            }}</mat-card-title>
          <span class="spacer"></span>
          <div style="display: flex; border: 1px solid #000; border-radius: 5px;">
            <div (click)="onToggleChangeForAWCDeviation(true)" [style.background]="isToggleOn ? '#1976d2' : '#fff'"
              [style.color]="isToggleOn ? '#fff' : '#000'"
              style="padding: 6px 16px; cursor: pointer; transition: 0.3s; font-weight: 500;">
              Samples
            </div>

            <div (click)="onToggleChangeForAWCDeviation(false)" [style.background]="!isToggleOn ? '#1976d2' : '#fff'"
              [style.color]="!isToggleOn ? '#fff' : '#000'"
              style="padding: 6px 16px; cursor: pointer; transition: 0.3s; font-weight: 500;">
              AWC
            </div>
          </div>

        </mat-card-header>

        <div *ngIf="isLoadingAwc" class="chart-loader">
          <mat-progress-spinner mode="indeterminate" diameter="50">
          </mat-progress-spinner>
          <p>Loading chart data...</p>
        </div>

        <mat-card-content>
          <div *ngIf="!isLoadingAwc" class="chart-container" #barCanvasWrapper>
            <canvas #barChart baseChart [data]="barChartAWCDeviation" [labels]="barChartAWCDeviationLabels"
              [type]="'bar'" [legend]="false" #barChartDirective>
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="chart-card">

        <mat-card-header
          style="min-height: 40px; width: 100%; display: flex; align-items: center; justify-content: center;">
          <mat-card-title>{{
            labelChanges.stateSupervisorDeviationTrendsChart || "-"
            }}</mat-card-title>
          <span class="spacer"></span>
          <!-- <mat-slide-toggle
               color="primary"
              (change)="onToggleChangeForSupervisorDeviation($event.checked)"
              matTooltip="Toggle Line Chart"
              
            >
            </mat-slide-toggle> -->
          <div style="display: flex; border: 1px solid #000; border-radius: 5px;">
            <div (click)="onToggleChangeForSupervisorDeviation(true)"
              [style.background]="isToggleOnForSupervisor ? '#1976d2' : '#fff'"
              [style.color]="isToggleOnForSupervisor ? '#fff' : '#000'"
              style="padding: 6px 16px; cursor: pointer; transition: 0.3s; font-weight: 500;">
              0%
            </div>

            <div (click)="onToggleChangeForSupervisorDeviation(false)"
              [style.background]="!isToggleOnForSupervisor ? '#1976d2' : '#fff'"
              [style.color]="!isToggleOnForSupervisor ? '#fff' : '#000'"
              style="padding: 6px 16px; cursor: pointer; transition: 0.3s; font-weight: 500;">
              100%
            </div>
          </div>
        </mat-card-header>
        <div *ngIf="isLoadingSupervisor" class="chart-loader">
          <mat-progress-spinner mode="indeterminate" diameter="50">
          </mat-progress-spinner>
          <p>Loading chart data...</p>
        </div>
        <mat-card-content>
          <div *ngIf="!isLoadingSupervisor" class="chart-container" #barCanvasWrapper>
            <canvas #barChart baseChart [data]="barChartSupervisorDeviation"
              [labels]="barChartSupervisorDeviationLabels" [type]="'bar'" [legend]="false" #barChartDirective>
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- <mat-card class="chart-card" > -->
      <table border="1" cellspacing="0" cellpadding="0"
        style="border-collapse: collapse; text-align: center; font-family: Arial, sans-serif; width: 100%; height: 95%;">

        <thead>
          <tr style="background-color: #6ec6e0; color: #000;">
            <th style="width: 150px; height: 60px;">Supervisor / AWW</th>
            <th style="width: 150px; height: 60px;">Severe</th>
            <th style="width: 150px; height: 60px;">Moderate</th>
            <th style="width: 150px; height: 60px;">Normal</th>
          </tr>
        </thead>

        <tbody>
          <!-- Severe Row -->
          <tr>
            <td style="background-color: #6ec6e0; font-weight: bold; width: 150px; height: 50px;">
              Severe
            </td>

            <td style="background-color: #ffffff; width: 150px; height: 50px;">
              {{ awwSupervisorMatrix?.severe.severe }}%
            </td>

            <td style="background-color: #ffe97f; width: 150px; height: 50px;">
              {{ awwSupervisorMatrix?.severe.moderate }}%
            </td>

            <td style="background-color: #ff7f66; color: #fff; width: 150px; height: 50px;">
              {{ awwSupervisorMatrix?.severe.normal }}%
            </td>
          </tr>

          <!-- Moderate Row -->
          <tr>
            <td style="background-color: #6ec6e0; font-weight: bold; width: 150px; height: 50px;">
              Moderate
            </td>

            <td style="background-color: #ffe97f; width: 150px; height: 50px;">
              {{ awwSupervisorMatrix?.moderate.severe }}%
            </td>

            <td style="background-color: #ffffff; width: 150px; height: 50px;">
              {{ awwSupervisorMatrix?.moderate.moderate }}%
            </td>

            <td style="background-color: #ffe97f; width: 150px; height: 50px;">
              {{ awwSupervisorMatrix?.moderate.normal }}%
            </td>
          </tr>

          <!-- Normal Row -->
          <tr>
            <td style="background-color: #6ec6e0; font-weight: bold; width: 150px; height: 50px;">
              Normal
            </td>

            <td style="background-color: #ff7f66; color: #fff; width: 150px; height: 50px;">
              {{ awwSupervisorMatrix?.normal.severe }}%
            </td>

            <td style="background-color: #ff7f66; color: #fff; width: 150px; height: 50px;">
              {{ awwSupervisorMatrix?.normal.moderate }}%
            </td>

            <td style="background-color: #ffffff; width: 150px; height: 50px;">
              {{ awwSupervisorMatrix?.normal.normal }}%
            </td>
          </tr>

        </tbody>
      </table>


      <!-- </mat-card> -->


      <mat-card class="chart-card">
        <mat-card-header
          style="min-height: 40px; width: 100%; display: flex; align-items: center; justify-content: center;">
          <mat-card-title>{{
            labelChanges.stateAgeGroupDeviationTrendsChart || "-"
            }}</mat-card-title>

        </mat-card-header>

        <div *ngIf="isLoadingAgeGroup" class="chart-loader">
          <mat-progress-spinner mode="indeterminate" diameter="50">
          </mat-progress-spinner>
          <p>Loading chart data...</p>
        </div>
        <mat-card-content>
          <div *ngIf="!isLoadingAgeGroup" class="chart-container" #barCanvasWrapper>
            <canvas #barChart baseChart [data]="barChartAgegroupDeviation" [labels]="barChartAgegroupDeviationLabels"
              [type]="'bar'" [legend]="false" #barChartDirective>
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


    <div style="display: flex; border: 1px solid #000; border-radius: 5px; width: 11%;">
          <div (click)="onToggleChangeForHierarchicalDeviation(true)"
            [style.background]="isToggleOnForHierarchical ? '#1976d2' : '#fff'"
            [style.color]="isToggleOnForHierarchical ? '#fff' : '#000'"
            style="padding: 6px 16px; cursor: pointer; transition: 0.3s; font-weight: 500;">
            Childrens
          </div>

          <div (click)="onToggleChangeForHierarchicalDeviation(false)"
            [style.background]="!isToggleOnForHierarchical ? '#1976d2' : '#fff'"
            [style.color]="!isToggleOnForHierarchical ? '#fff' : '#000'"
            style="padding: 6px 16px; cursor: pointer; transition: 0.3s; font-weight: 500;">
            AWC
          </div>
        </div>


  <app-dynamic-table-chart  [loading]="isLoadingForHirerarchical || isLoadingHierarchical" [headerConfig]="headerConfig" [tableConfig]="tableConfig"
    [tableData]="tableData" [chartConfig]="chartConfig" (rowClick)="onRowClick($event)">
  </app-dynamic-table-chart>

</div>