<div class="dashboard-container">
<nav class="side-nav" [class.closed]="!sideMenuOpen">
    <div class="nav-header">
      <div class="logo">
        <mat-icon class="logo-icon">analytics</mat-icon>
        <span class="logo-text" *ngIf="sideMenuOpen">ICDS Dashboard</span>
      </div>
      <button mat-icon-button (click)="toggleSideMenu()" class="menu-toggle">
        <mat-icon>{{ sideMenuOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
    </div>

    <div class="nav-menu">
      <a class="nav-item" routerLink="/home" [class.active]="activeMenuItem === 'overview'"
        (click)="setActiveMenuItem('overview')">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="sideMenuOpen">Dashboard</span>
      </a>
      <!-- <a class="nav-item" routerLink="/examples" [class.active]="activeMenuItem === 'analytics'"
        (click)="setActiveMenuItem('analytics')">
        <mat-icon>bar_chart</mat-icon>
        <span *ngIf="sideMenuOpen"> Growth Monitoring</span>
      </a>
      <a class="nav-item" routerLink="/courses" [class.active]="activeMenuItem === 'reports'"
        (click)="setActiveMenuItem('reports')">
        <mat-icon>assessment</mat-icon>
        <span *ngIf="sideMenuOpen">HCM</span>
      </a> -->
    </div>
  </nav>
</div>